<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default"
			 connectionString="server=Ringo\SQLEXPRESS;Integrated security=yes;
			 Database=AdministracionRingo;TrustServerCertificate=True"
			 providerName="System.Data.SqilClient"/>
	</connectionStrings>
</configuration>